/* This styling works with jQery for hidding expired events */
.date-event {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Champion Font At The Top */
.html-element-title-1 {
  font-family: cityone, "Heebo", "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff !important;
  text-align: center;
  letter-spacing: 0;
  font-size: 16vw;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .html-element-title-1 {
    font-size: 26vw;
  }
}
@media screen and (max-width: 640px) {
  .html-element-title-1 {
    font-size: 36vw;
  }
}

/* Champion Font Down Page */
.html-element-title-3 {
  font-family: cityone, "Heebo", "Lato", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff !important;
  text-align: center;
  letter-spacing: 0;
  font-size: 15em;
  line-height: 1;
}
@media screen and (max-width: 1024px) {
  .html-element-title-3 {
    font-size: 11em;
  }
}
@media screen and (max-width: 640px) {
  .html-element-title-3 {
    font-size: 8em;
  }
}

/* Splash Screen Video */
#bgvid {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE only */
  #bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* Menu */
#nav-icon1,
#nav-icon2 {
  float: right;
  width: 30px;
  height: 22px;
  position: relative;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon1:hover,
#nav-icon2:hover {
  opacity: 0.85;
  -webkit-transition: 0s ease-in-out;
  -moz-transition: 0s ease-in-out;
  -o-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
}
#nav-icon1 span,
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1),
#nav-icon2 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon1 span:nth-child(2),
#nav-icon2 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon1 span:nth-child(3),
#nav-icon2 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon1.open span:nth-child(1),
#nav-icon2.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1px;
  left: 4px;
}
#nav-icon1.open span:nth-child(2),
#nav-icon2.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon1.open span:nth-child(3),
#nav-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}

/* Fonts for paragraphs & dropdown menu buttons */
p,
.button-nav-4,
.button-footer-2,
.button-footer-3,
.button-footer-4,
.button-blank-1 {
  font-family: "Muli", "Heebo", "Nunito Sans", sans-serif !important;
}
.paragraph-footer-1 {
  font-size: 14px;
  color: white;
  text-align: center;
}

/* Navigation menu video */
#vid_menu {
  width: 100%;
  height: auto;
  max-width: 550px;
}

/* Video Player */
.video-display {
  cursor: pointer;
  width: 100%;
  height: auto;
}

/* Circular points */
#circle-container-1b,
#circle-container-2b,
#circle-container-3b,
#circle-container-4b,
#circle-container-5b,
#circle-container-6b {
  display: none;
}

/* Embed YouTube */
.html-element-youtube-1 {
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.html-element-youtube-1 iframe,
.html-element-youtube-1 object,
.html-element-youtube-1 embed {
  position: absolute;
  border-width: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Embed soundcloud */
.html-element-soundcloud-1 {
  height: 166px;
  margin-bottom: 30px;
}
.html-element-soundcloud-1 iframe,
.html-element-soundcloud-1 object,
.html-element-soundcloud-1 embed {
  position: relative;
  border-width: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Daily Devotions page - change links in Steve McCracken's text */
#response a {
  color: #141414 !important;
  text-decoration: underline !important;
}
#response a:hover {
  color: #222222 !important;
}

/* Events page. Reveal information on hover */
.container-box-5 {
  display: none;
}
.container-box-1 {
  cursor: pointer;
}

.button-custom-1 {
  width: 80%;
  max-width: 220px;
  display: inline-block;
  margin: 11px 0 0;
  padding: 13px 35px 12px;
  background-color: #141414;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 14px;
  font-family: citythree, "Montserrat", sans-serif;
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

.button-custom-1:hover {
  background-color: #282828;
  transform: scale(0.95);
}

@media screen and (min-width: 40rem) {
  .button-custom-1 {
    width: auto;
    max-width: none;
  }
}

@media screen and (max-width: 1024px) {
  body * {
    background-attachment: scroll !important;
  }
}
@import "compass/css3";

/* Bar chart on missions-month.php */
.missions-list {
  padding: 0;
  width: 100%;
  float: left;
  background-color: #969696;
  margin: 30px 0 30px 0;
}
.missions-li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-top: 15px solid #fff;
}
.missions-top {
  padding: 1em;
  background: #2b2b2b;
  white-space: nowrap;
}
.missions-total {
  padding: 1em;
  white-space: nowrap;
}
.missions-cromwell {
  width: 16%;
}
.missions-ecuador {
  width: 24%;
}
.missions-fiji {
  width: 49%;
}
.missions-hispresence {
  width: 49%;
}
.missions-india {
  width: 16%;
}
.missions-kingdomlibrary {
  width: 8%;
}
.missions-myanmar {
  width: 81%;
}
.missions-rodemhouse {
  width: 49%;
}
.missions-street {
  width: 16%;
}
.missions-school {
  width: 57%;
}
.missions-youth {
  width: 89%;
}
.missions-22-1 {
  color: #fff;
  font-size: 20px;
  font-family: citythree, "Muli", "Nunito Sans", sans-serif !important;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: left;
}
.column-month-2 {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
